.homePage{
	background-image: url("https://ununsplash.imgix.net/photo-1429032021766-c6a53949594f?fit=crop&fm=jpg&h=700&q=75&w=1050");
	background-size:cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

.greeting{
	position: relative;
	margin-left: 350px;
	margin-top: 540px;
}
