.table{
	width: 80%;
	margin: 5% 10%;
}

.allOrders{
	text-align: center;
}

.columnName{
	font-weight: 2em;
	text-align: center;
}

.table th{
	text-align: center;
}

.btn-block{
	width: 80%;
	margin: 5% 10%;
}

.fa {
	cursor: pointer;
	margin: 10px;
}